@import "home";
@import "article";
@import "list";

body {
    font-family: sans-serif;
    font-size: 1.2vw;
    background-color: #FFFFFF;
    margin: 0;
}
@media (max-width: 500px) {
    body{
        font-size: 1.8vw;
    }
}