p{
  text-align: justify;
}

.header_title {
  height: 150px;
  z-index: 10;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
}
.nav_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75px;
  background: #292f36;
  position: fixed;
  z-index: 10;
}
.visible-title {
  visibility: visible;
}

.article_title{
    font-family: "Palatino Linotype P";
    text-align: center;
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.content_article{
    font-family: sans-serif;
    line-height: 1.4;
}
.mw-editsection{
  display: none;
}
.button_article{
  text-decoration: none;
  padding: 7px;
  color: white;
  background-color: rgb(67, 133, 245);
  border-radius: 10px;
}
.button_article:hover{
  background-color: rgb(240, 84, 84);
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    margin-bottom: 25px;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  h2{
    text-align: center;
  }

  .tright{
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .tleft{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .table_info{
    float: right;
    display: table;
    margin-left: 20px;
    padding: 7px;
    border: 1px solid rgb(167, 154, 154);
    max-width: 400px;
  }

  .toc_niveau_2{
    display: table;
  }
  .toc{
    border: 1px solid rgb(167, 154, 154);
    width: max-content;
  }
  ul {
    padding: 7px;
  }
  li {
    list-style-type: none;
    list-style-image: none;
    text-decoration: none;
  }
  .toctext{
    color: rgb(63, 54, 54);
    text-decoration: inherit;
  }
  .tocnumber{
    color: rgb(63, 54, 54);
    text-decoration: inherit;
  }
  .navbox{
    width: 100%;
  }
  .thumb.tright:hover{
    transform: scale(2);
    transform-origin: right;
    background-color: #fff;
    border: 0.5px solid rgb(167, 154, 154);
    box-shadow: 0 0 5px rgba(33,33,33,.2);
    z-index: 20;
  }
  .thumb.tleft:hover{
    transform: scale(2);
    transform-origin: left;
    background-color: #fff;
    border: 0.5px solid rgb(167, 154, 154);
    z-index: 20;
  }

  .thumbinner{
    width: min-content !important;
  }

@media (max-width: 500px) {

.button_article{
  padding: 7px;
}
.header_title{
  height: 60px;
}
.nav_title{
  height: 50px;
}
#home_title {
  font-size: 75px;
}
.table_info{
  width: 100%;
}
.bar{
  width: 95%;
}
.toc_niveau_2{
  width: 100%;
}
.toc{
  width: 100%;
}
.thumb.tright:hover{
  transform: scale(1.3);
}
.thumb.tleft:hover{
  transform: scale(1.3);
}
.wikitable {
  display: none;
}
.navbox{
  display: none;
}

}