#home_title{
    font-family: "Palatino Linotype P";
    margin-top:-100px;
    margin-bottom:60px;
    font-size: 128px;
    text-align: center;
    line-height: 50%;
    transition: transform 1s ease;
}
.blue {
    color: #4385f5;
}

.red {
color: #dc4437;
}

.yellow {
color: #f5b400;
}

.green {
color: #109d59;
}
.bar{
    display:flex;
    justify-content: start;
    align-items: center;
    margin:250px auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
  }
.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}
.search_bar{
    height:45px;
    border-radius:30px;
    border:none;
    width:600px;
    font-size:16px;
    outline: none;
}
.fa-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px !important;
    margin: 10px;
    color: rgb(154, 160, 166);
}

.move_title{
    transform: translate(0px, 200px);
}