{% extends 'base.html.twig' %}

{% block title %}Lewiki article{% endblock %}

{% block body %}

<header class="header_title">
    <nav class="nav_title">
      <h1 class="article_title"><span class="blue">L</span><span class="red">e</span><span class="yellow">w</span><span class="blue">i</span><span class="green">k</span><span class="red">i</span>
      </h1>
      <a href="{{ path('home') }}" class="button_article" role="button">Retour</a>
    </nav>
    <div class="progress">
      <progress id="js-progressbar" value="" max="100"></progress>
    </div>
</header>

  <div class="content_article">
    <a id="button"></a>
    {{ content|raw }}
  </div>


  {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
  {% endblock %}

{% endblock %}