{% extends 'base.html.twig' %}

{% block title %}Lewiki article{% endblock %}

{% block body %}

<div>
    <h1 class="article_title"><span class="blue">L</span><span class="red">e</span><span class="yellow">w</span><span class="blue">i</span><span class="green">k</span><span class="red">i</span></h1>
      <div class="content_article">
        <a id="button"></a>
        <a href="{{ path('home') }}" class="btn btn-info offset-11" role="button">Retour</a>
        {{ content|raw }}
      </div>
</div>

  {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
  {% endblock %}

{% endblock %}