{% extends 'base.html.twig' %}

{% block title %}Lewiki{% endblock %}

{% block body %}

<div>
<h1 id="home_title">
  <span class="blue">L</span><span class="red">e</span><span class="yellow">w</span><span class="blue">i</span><span class="green">k</span><span class="red">i</span>
</h1>
</h1>
    <form action="{{ path('search') }}" class="bar" method="post">
    <div class="fa fa-search"></div>
        <input class="search_bar" type="text" name="search">
    </form>
</div>

{% endblock %}